---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import NotFoundSection from "../components/NotFoundSection.astro";
import NoApiTokenSection from "../components/NoApiTokenSection";

import "../css/bootstrap.min.css";
import "../css/lineicons.css";
import "../css/main.css";

const { title, error, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
        />
        <title>{title}</title>
        <meta
            name="description"
            property="og:description"
            content={description}
        />
        <meta property="og:image" content={image} />
    </head>

    <body>
        {
            !import.meta.env.ASTRO_APP_BUTTER_CMS_API_KEY ||
            import.meta.env.ASTRO_APP_BUTTER_CMS_API_KEY.length === 0 ? (
                <NoApiTokenSection client:load />
            ) : error ? (
                <NotFoundSection error={error} />
            ) : (
                <>
                    <Header />
                    <slot />
                    <ScrollToTop />
                    <Footer />
                </>
            )
        }

        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/polyfill.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/section-menu.js"></script>
    </body>
</html>
